.sheet-rolltemplate-5eDefault .sheet-rt-card {
	width: 95%;
	background-color: #FFFFFF;
	font-size: 11px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: black 1px solid;
	padding: 5px 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* Generic header */

.sheet-rolltemplate-5eDefault .sheet-rt-header {
	text-align: center;
	position: relative;
	color: #fff;
	margin: 0 -10px 10px -10px;
	padding: 5px 0;
	background-color: #5c5c5c;
	background-image: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
	box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
}

.sheet-rolltemplate-5eDefault .sheet-rt-header:before,
.sheet-rolltemplate-5eDefault .sheet-rt-header:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-color: transparent;
	bottom: -10px;
}

.sheet-rolltemplate-5eDefault .sheet-rt-header:before {
	border-width: 0 10px 10px 0;
	border-right-color: #222;
	left: 0;
}

.sheet-rolltemplate-5eDefault .sheet-rt-header:after {
	border-width: 0 0 10px 10px;
	border-left-color: #222;
	right: 0;
}

.sheet-rolltemplate-5eDefault .sheet-rt-title {
	font-size: 1.5em;
}

.sheet-rolltemplate-5eDefault .sheet-rt-subheader {}


/* Weapon header*/

.sheet-rolltemplate-5eDefault .sheet-rt-header.sheet-weapon {
	background-color: #9B52C9;
}

.sheet-rolltemplate-5eDefault .sheet-rt-header.sheet-weapon:before {
	border-right-color: #9B2FC9;
}

.sheet-rolltemplate-5eDefault .sheet-rt-header.sheet-weapon:after {
	border-left-color: #9B2FC9;
}


/* Spell header */

.sheet-rolltemplate-5eDefault .sheet-rt-header.sheet-spell {
	background-color: #BC0FBC;
}

.sheet-rolltemplate-5eDefault .sheet-rt-header.sheet-spell:before {
	border-right-color: #AD6E7B;
}

.sheet-rolltemplate-5eDefault .sheet-rt-header.sheet-spell:after {
	border-left-color: #AD6E7B;
}


/* Ability check header */

.sheet-rolltemplate-5eDefault .sheet-rt-header.sheet-ability {
	background-color: #004405;
}

.sheet-rolltemplate-5eDefault .sheet-rt-header.sheet-ability:before {
	border-right-color: #000D01;
}

.sheet-rolltemplate-5eDefault .sheet-rt-header.sheet-ability:after {
	border-left-color: #000D01;
}


/* Saving throw header */

.sheet-rolltemplate-5eDefault .sheet-rt-header.sheet-save {
	background-color: #00B2E0;
}

.sheet-rolltemplate-5eDefault .sheet-rt-header.sheet-save:before {
	border-right-color: #8FBAE0;
}

.sheet-rolltemplate-5eDefault .sheet-rt-header.sheet-save:after {
	border-left-color: #8FBAE0;
}


/* Death Save header */

.sheet-rolltemplate-5eDefault .sheet-rt-header.sheet-deathsave {
	background-color: #E0B700;
}

.sheet-rolltemplate-5eDefault .sheet-rt-header.sheet-deathsave:before {
	border-right-color: #B78900;
}

.sheet-rolltemplate-5eDefault .sheet-rt-header.sheet-deathsave:after {
	border-left-color: #B78900;
}

.sheet-rolltemplate-5eDefault .sheet-row:nth-child(even) {
	background-color: #E9EDEE;
}

.sheet-rolltemplate-5eDefault .sheet-rt-key {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	-moz-text-decoration-color: #D64541;
	text-decoration-color: #D64541;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 120px;
	padding: 2px 2px 2px 0px;
}

.sheet-rolltemplate-5eDefault .sheet-rt-key-wide {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	-moz-text-decoration-color: #D64541;
	text-decoration-color: #D64541;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 2px 2px 2px 0px
}

.sheet-rolltemplate-5eDefault .sheet-rt-value {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 2px;
}

.sheet-rolltemplate-5eDefault .sheet-ignored-roll .inlinerollresult {
	opacity: 0.5;
}

.sheet-rolltemplate-5eDefault .sheet-no-roll-highlight .inlinerollresult {
	background-color: inherit;
	border: 0;
	padding: 0;
	font-weight: normal;
	cursor: help;
	font-size: 1em;
}

.sheet-rolltemplate-5eDefault .sheet-rt-value .sheet-no-roll-highlight .inlinerollresult .fullfail . .sheet-rolltemplate-5eDefault .sheet-rt-value .sheet-no-roll-highlight .inlinerollresult .fullcrit {
	border: 0;
}

.sheet-rolltemplate-5eDefault .sheet-main-content {}

.sheet-rolltemplate-5eDefault .sheet-main-content hr.sheet-roll {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: #D64541;
	background-color: #D64541;
	height: 1px;
}

.sheet-rolltemplate-5eDefault .sheet-rt-emote {
	font-size: 11px;
	font-family: Arial;
	text-align: center;
	border: green 1px dashed;
	border-radius: 5px;
	padding: 0px 5px;
	margin: 0px 5px 5px 5px;
}

/*** ROLL TEMPLATE STYLING ENDS HERE **/


/* overall wrapper to fix moving width issues with overflow on hidden sections */

.sheet-overall-wrapper {
	max-width: 832px;
}


/* Tweak repeating section buttons so they have a bottom margin and dont overflow when in edit mode. */

div[class^="repcontrol"] {
	margin-bottom: 5px;
}

div[class="repcontainer editmode"] ~ div[class^="repcontrol"] button[class="btn repcontrol_add"] {
	display: inline-block!important;
	visibility: hidden;
}



/* Main Sheet Tabs */

div[class^="sheet-section"] {
	display: none;
}

input.sheet-tab1:checked ~ div.sheet-section-core,
input.sheet-tab2:checked ~ div.sheet-section-skills,
input.sheet-tab3:checked ~ div.sheet-section-background,
input.sheet-tab4:checked ~ div.sheet-section-class,
input.sheet-tab5:checked ~ div.sheet-section-weapons,
input.sheet-tab6:checked ~ div.sheet-section-spellbook,
input.sheet-tab8:checked ~ div.sheet-section-armour,
input.sheet-tab7:checked ~ div.sheet-section-inventory {
	display: block;
}

input.sheet-tab99:checked ~ div[class^="sheet-section"] {
	display: block;
}

input.sheet-tab {
	width: 14%;
	height: 20px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
}

span.sheet-tab {
	text-align: center;
	display: inline-block;
	font-size: 16px;
	background: #4a6486;
	color: white;
	border-radius: 4px;
	width: 137px;
	height: 20px;
	cursor: pointer;
	position: relative;
	left:-130px!important;
	top:3px;
	margin-right:-96px;
}

input.sheet-tab1:checked + span.sheet-tab1,
input.sheet-tab2:checked + span.sheet-tab2,
input.sheet-tab3:checked + span.sheet-tab3,
input.sheet-tab4:checked + span.sheet-tab4,
input.sheet-tab5:checked + span.sheet-tab5,
input.sheet-tab6:checked + span.sheet-tab6,
input.sheet-tab7:checked + span.sheet-tab7,
input.sheet-tab8:checked + span.sheet-tab8,
input.sheet-tab99:checked + span.sheet-tab99 {
	background: #ab8b57;
	color: white;
	border-radius: 4px;
}


/* END Main sheet tabs */


/* Inspiration button Settings */

input.sheet-inspiration {
	width: 80%;
	height: 20px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
	margin-top: 5px;
	margin-bottom: 5px;
}

span.sheet-inspiration-tab::before {
	content: "No";
}

span.sheet-inspiration-tab {
	text-align: center;
	display: inline-block;
	width: 80%;
	height: 20px;
	font-size: 13px;
	background: #8c6075;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	margin-left: -80%
}

input.sheet-inspiration:checked + span.sheet-inspiration-tab {
	background: #879a6a;
	color: white;
	border-radius: 4px;
}

input.sheet-inspiration:checked + span.sheet-inspiration-tab::before {
	content: "Yes"
}

.sheet-inspiration-label {
	text-align: center;
	font-weight: bold;
}


/* END Inspiration button Settings */


/* Spell Page Settings */

div[class^="sheet-spell-page"] {
	display: none;
}

input.sheet-spelltab0:checked ~ div.sheet-spell-page0,
input.sheet-spelltab1:checked ~ div.sheet-spell-page1,
input.sheet-spelltab2:checked ~ div.sheet-spell-page2,
input.sheet-spelltab3:checked ~ div.sheet-spell-page3,
input.sheet-spelltab4:checked ~ div.sheet-spell-page4,
input.sheet-spelltab5:checked ~ div.sheet-spell-page5,
input.sheet-spelltab6:checked ~ div.sheet-spell-page6,
input.sheet-spelltab7:checked ~ div.sheet-spell-page7,
input.sheet-spelltab8:checked ~ div.sheet-spell-page8,
input.sheet-spelltab9:checked ~ div.sheet-spell-page9 {
	display: block;
}

input.sheet-spelltab99:checked ~ div[class^="sheet-spell-page"] {
	display: block;
}

input.sheet-spelltab0:checked ~ span.sheet-spelltab0,
input.sheet-spelltab1:checked ~ span.sheet-spelltab1,
input.sheet-spelltab2:checked ~ span.sheet-spelltab2,
input.sheet-spelltab3:checked ~ span.sheet-spelltab3,
input.sheet-spelltab4:checked ~ span.sheet-spelltab4,
input.sheet-spelltab5:checked ~ span.sheet-spelltab5,
input.sheet-spelltab6:checked ~ span.sheet-spelltab6,
input.sheet-spelltab7:checked ~ span.sheet-spelltab7,
input.sheet-spelltab8:checked ~ span.sheet-spelltab8,
input.sheet-spelltab9:checked ~ span.sheet-spelltab9,
input.sheet-spelltab99:checked ~ span.sheet-spelltab99 {
	background: rgb(0, 158, 115);
	color: white;
	border-radius: 4px;
}

input.sheet-spellpagetab {
	width: 70px;
	height: 20px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
}

span.sheet-spellpagetab {
	text-align: center;
	display: inline-block;
	font-size: 13px;
	background: rgb(86, 180, 233);
	color: white;
	font-weight: bold;
	border-radius: 4px;
	width: 70px;
	height: 20px;
	cursor: pointer;
	position: relative;
	margin-left: -73px;
}

.sheet-spell-macro-output-options,
.sheet-classaction-output-options,
.sheet-npc-output-options {
	border: black 1px dashed;
	border-radius: 5px;
}


/* END Spell Page Settings */


/* Borders for spell page and class action repeating section rows */

div[data-groupname^="repeating_spellbook"] .repitem,
div[data-groupname^="repeating_classactions"] .repitem,
.sheet-npc-row,
div[class^="sheet-classaction-row"] {
	border: 1px solid #000000;
	border-radius: 12px;
	margin-left: 1px;
	margin-bottom: 5px;
	background: #eee;
}


/* spell type tab Settings */

div[class^="sheet-spell-type"] {
	display: none;
}

input.sheet-spelltypeadvanced:checked ~ div.sheet-spell-type-advanced,
input.sheet-spelltypeattack:checked ~ div.sheet-spell-type-attack,
input.sheet-spelltypesave:checked ~ div.sheet-spell-type-save,
input.sheet-spelltypedamage:checked ~ div.sheet-spell-type-damage,
input.sheet-spelltypeheal:checked ~ div.sheet-spell-type-heal,
input.sheet-spelltypeeffects:checked ~ div.sheet-spell-type-effects {
	display: block;
}

input.sheet-spelltypeadvanced:checked ~ span.sheet-spelltypeadvanced,
input.sheet-spelltypeattack:checked ~ span.sheet-spelltypeattack,
input.sheet-spelltypesave:checked ~ span.sheet-spelltypesave,
input.sheet-spelltypedamage:checked ~ span.sheet-spelltypedamage,
input.sheet-spelltypeheal:checked ~ span.sheet-spelltypeheal,
input.sheet-spelltypeeffects:checked ~ span.sheet-spelltypeeffects {
	background: #879a6a;
	color: white;
	border-radius: 4px;
}

input.sheet-spelltypetab {
	width: 119px;
	height: 20px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 999;
}

span.sheet-spelltypetab {
	text-align: center;
	display: inline-block;
	font-size: 13px;
	background: #8c6075;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	width: 119px;
	height: 20px;
	cursor: pointer;
	position: relative;
	margin-left: -121px;
}


/* END spell type tab Settings */


/* Inventory Page Settings */

div[class^="sheet-inventory-page"] {
	display: none;
}

input.sheet-inventorytab1:checked ~ div.sheet-inventory-page1,
input.sheet-inventorytab2:checked ~ div.sheet-inventory-page2,
input.sheet-inventorytab3:checked ~ div.sheet-inventory-page3,
input.sheet-inventorytab4:checked ~ div.sheet-inventory-page4 {
	display: block;
}

input.sheet-inventorytab99:checked ~ div[class^="sheet-inventory-page"] {
	display: block;
}

input.sheet-inventorytab1:checked ~ span.sheet-inventorytab1,
input.sheet-inventorytab2:checked ~ span.sheet-inventorytab2,
input.sheet-inventorytab3:checked ~ span.sheet-inventorytab3,
input.sheet-inventorytab4:checked ~ span.sheet-inventorytab4,
input.sheet-inventorytab99:checked ~ span.sheet-inventorytab99 {
	background: rgb(0, 158, 115);
	color: white;
	border-radius: 4px;
}

input.sheet-inventorytab {
	width: 155px;
	height: 20px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
}

span.sheet-inventorytab {
	text-align: center;
	display: inline-block;
	font-size: 13px;
	background: rgb(86, 180, 233);
	color: white;
	font-weight: bold;
	border-radius: 4px;
	width: 155px;
	height: 20px;
	cursor: pointer;
	position: relative;
	margin-left: -158px;
}


/* END Inventory Page Settings */


/* class Action Page Settings */

div[class^="sheet-classaction-page"] {
	display: none;
}

input.sheet-classactiontab1:checked ~ div.sheet-classaction-page1,
input.sheet-classactiontab2:checked ~ div.sheet-classaction-page2,
input.sheet-classactiontab3:checked ~ div.sheet-classaction-page3,
input.sheet-classactiontab4:checked ~ div.sheet-classaction-page4 {
	display: block;
}

input.sheet-classactiontab99:checked ~ div[class^="sheet-classaction-page"] {
	display: block;
}

input.sheet-classactiontab1:checked ~ span.sheet-classactiontab1,
input.sheet-classactiontab2:checked ~ span.sheet-classactiontab2,
input.sheet-classactiontab3:checked ~ span.sheet-classactiontab3,
input.sheet-classactiontab4:checked ~ span.sheet-classactiontab4,
input.sheet-classactiontab99:checked ~ span.sheet-classactiontab99 {
	background: rgb(0, 158, 115);
	color: white;
	border-radius: 4px;
}

input.sheet-classactiontab {
	width: 155px;
	height: 20px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
}

span.sheet-classactiontab {
	text-align: center;
	display: inline-block;
	font-size: 13px;
	background: rgb(86, 180, 233);
	color: white;
	font-weight: bold;
	border-radius: 4px;
	width: 155px;
	height: 20px;
	cursor: pointer;
	position: relative;
	margin-left: -158px;
}

.sheet-classaction-output-options {
	display: none;
}

input[class^="sheet-classactionshowoptions"]:checked ~ div.sheet-classaction-output-options {
	display: block;
}

.sheet-class-action-zebra .sheet-row:nth-child(even) {
	background-color: #D5E3E7;
}


/* END Class action Page Settings */


/* General sheet/rolltemplate wide Styles */

button,
input,
select,
textarea,
.sheet-row [class *="sheet-col"],
[class *="sheet-col"] {
	font-size: 12px;
}

.sheet-spell-row-number,
.sheet-inventory-row-number,
.sheet-classaction-row-number {
	text-align: center;
	font-weight: bold;
}

.sheet-small-label,
.sheet-rolltemplate-5eDefault .sheet-small-label {
	font-size: 89%!important;
	font-weight: bold;
}

.sheet-normal-label,
.sheet-rolltemplate-5eDefault .sheet-normal-label {
	font-size: 158%!important;
	font-weight: bold;
	font-family: 'Montserrat';
}

.sheet-last-updated,
.sheet-rolltemplate-5eDefault .sheet-last-updated {
	font-size: 85%!important;
	font-style: italic;
	font-weight: bold;
	margin: 0;
}

.sheet-checkbox-row,
.sheet-rolltemplate-5eDefault .sheet-checkbox-row {
	line-height: 28px;
	text-align: center;
}

.sheet-ro-checkbox,
.sheet-rolltemplate-5eDefault .sheet-ro-checkbox {
	line-height: 28px;
	text-align: center;
}

.sheet-hd-row,
.sheet-rolltemplate-5eDefault .sheet-hd-row {
	margin-top: 5px;
	font-size: 11px!important;
}

.sheet-pictos,
.sheet-rolltemplate-5eDefault .sheet-pictos {
	font-family: "Pictos";
	font-size: 14px;
}

.sheet-pictos-custom,
.sheet-rolltemplate-5eDefault .sheet-pictos-custom {
	font-family: "Pictos Custom";
	font-size: 14px;
}

.sheet-pictos-three,
.sheet-rolltemplate-5eDefault .sheet-pictos-three {
	font-family: "Pictos Three";
	font-size: 14px;
}

.sheet-padl,
.sheet-rolltemplate-5eDefault .sheet-padl {
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sheet-padr,
.sheet-rolltemplate-5eDefault .sheet-padr {
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sheet-padt,
.sheet-rolltemplate-5eDefault .sheet-padt {
	padding-top: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sheet-padb,
.sheet-rolltemplate-5eDefault .sheet-padb {
	padding-bottom: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sheet-border-right,
.sheet-rolltemplate-5eDefault .sheet-border-right {
	border-right: 1px solid #000;
}

.sheet-border-left,
.sheet-rolltemplate-5eDefault .sheet-border-left {
	border-left: 1px solid #000;
}

.sheet-border-top,
.sheet-rolltemplate-5eDefault .sheet-border-top {
	border-top: 1px solid #000;
}

.sheet-border-bottom,
.sheet-rolltemplate-5eDefault .sheet-border-bottom {
	border-bottom: 1px solid #000;
}

.sheet-border-right-dotted,
.sheet-rolltemplate-5eDefault .sheet-border-right-dotted {
	border-right: 1px dotted #000;
}

.sheet-border-left-dotted,
.sheet-rolltemplate-5eDefault .sheet-border-left-dotted {
	border-left: 1px dotted #000;
}

.sheet-border-top-dotted,
.sheet-rolltemplate-5eDefault .sheet-border-top-dotted {
	border-top: 1px dotted #000;
}

.sheet-border-bottom-dotted,
.sheet-rolltemplate-5eDefault .sheet-border-bottom-dotted {
	border-bottom: 1px dotted #000;
}

.sheet-align-center,
.sheet-rolltemplate-5eDefault .sheet-align-center {
	text-align: center;
}

input[type=number],
input[type=text],
select {
	width: 100%!important;
	margin-bottom: 2px!important;
}

input[type=number] {
	text-align: center;
}

input[type=text].sheet-underlined {
	box-shadow: 0px -2px 0px 0px #000000 inset;
}

input[type=number].sheet-underlined {
	box-shadow: 0px -2px 0px 0px #000000 inset;
}

button.sheet-core-save,
button.sheet-core-check,
button.sheet-initiative,
button.sheet-roll {
	font-size: 22px!important;
	padding: 3px!important;
	padding-left: 4px!important;
	padding-right: 4px!important;
	margin-top:14px!important;
	font-weight:bold;
}

button.sheet-roll-dmg {
	font-size: 16px!important;
}

button.sheet-initiative {
	height: 3em;
}

hr,
.sheet-rolltemplate-5eDefault hr {
	border: 0;
	height: 1px;

	margin: 5px 0;
}

span.sheet-spacer,
.sheet-rolltemplate-5eDefault span.sheet-spacer {
	display: block;
	margin-top: 5px;
}

.sheet-heading-row {
	text-align: center;
	font-weight: bold;
}

.sheet-footer-row {
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 5px;
}

.sheet-vert-middle,
.sheet-rolltemplate-5eDefault .sheet-vert-middle {
	vertical-align: middle!important;
}

.sheet-vert-bottom,
.sheet-rolltemplate-5eDefault .sheet-vert-bottom {
	vertical-align: bottom!important;
}

.sheet-center,
.sheet-rolltemplate-5eDefault .sheet-center {
	text-align: center;
}

textarea {
	width: calc(100% - 10px);
	height: 150px;
	resize: none;
}

.sheet-fluid-textarea {
	height: 100%;
}

.sheet-small-textarea {
	height: 72px;
	font-size:11px!important;
	line-height:12px!important;
}

.sheet-normal-textarea {
	height: 40px;
	font-size:10px!important;
	line-height:10px!important;
}

.sheet-medium-textarea {
	height: 100px;
}

.sheet-large-textarea {
	height: 300px;
}

h3 {
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 5px;
	color: #ffffff;
	background-color: #000000;
	background-image: -moz-repeating-radial-gradient(center center, circle cover, #000000, #870202 100%);
	background-image: -webkit-repeating-radial-gradient(center center, circle cover, #000000, #870202 100%);
	background-image: -o-repeating-radial-gradient(center center, circle cover, #000000, #870202 100%);
	background-image: -ms-repeating-radial-gradient(center center, circle cover, #000000, #870202 100%);
	background-image: repeating-radial-gradient(center center, circle cover, #000000, #870202 100%);
	margin-top: 10px;
	border-radius: 12px;
}

h4 {
	background-color: #000000;
	color: #ffffff;
	font-size: 12px;
	border-radius: 12px;
	padding-left: 5px;
	margin-bottom: 5px;
}

input[disabled] {
	background-color: red;
	border-color: #ddd;
	cursor: not-allowed;
	-moz-appearance: textfield;
}

input[disabled].sheet-passive-skill-score {
	background-color: #def6fc;
	border-color: #ddd;
	cursor: not-allowed;
	-moz-appearance: textfield;
}

input[disabled]::-webkit-inner-spin-button,
input[disabled]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.sheet-small-note {
	text-align: center;
	font-family: Arial;
	font-size: 10px!important;
}

select {
	font-size: 90%;
}

.sheet-important-text {
	text-decoration: underline;
	color: #ff0000;
}

.sheet-grey-row {
	background-color: #eee;
}

.sheet-sub-header {
	background-color: #cecece;
	vertical-align: bottom;
	border-radius: 12px;
	margin-bottom: 3px;
}

.sheet-footer {
	background-color: rgba(250, 202, 78, 0.2);
	vertical-align: bottom;
	border-radius: 12px;
	margin-top: 3px;
}

.sheet-spell-header {
	background-color: #c7d1bf;
	vertical-align: bottom;
	border-radius: 12px;
	margin-bottom: 3px;
}


/* Core stat section */

.sheet-core-stat-label {
	background-color: #000000;
	color: #ffffff;
	font-size: 14px!important;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
	line-height: 28px;
	text-align: center;
}

.sheet-large-button {
	padding: 5px;
	height: 45px;
	vertical-align: middle;
}

.sheet-basic-button {
	padding: 2px;
	height: 20px;
	vertical-align: middle;
	font-size: 22px!important;
}


/* Death save checkboxes - FAIL */

input.sheet-death-save-fail {
	width: 28%;
	height: 20px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
	margin-top: 5px;
	margin-bottom: 5px;
}

span.sheet-death-save-fail-tab::before {
	content: "???";
}

span.sheet-death-save-fail-tab {
	text-align: center;
	display: inline-block;
	width: 28%;
	height: 20px;
	font-size: 13px;
	font-weight: bold;
	border-radius: 4px;
	margin-left: -28%;
	border: 1px solid;
}

input.sheet-death-save-fail:checked + span.sheet-death-save-fail-tab {
	background: #8c6075;
	color: white;
	border-radius: 4px;
}

input.sheet-death-save-fail:checked + span.sheet-death-save-fail-tab::before {
	content: "Failure";
}


/* Death save checkboxes - success */

input.sheet-death-save-success {
	width: 28%;
	height: 20px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
	margin-top: 5px;
	margin-bottom: 5px;
}

span.sheet-death-save-success-tab::before {
	content: "???";
}

span.sheet-death-save-success-tab {
	text-align: center;
	display: inline-block;
	width: 28%;
	height: 20px;
	font-size: 13px;
	font-weight: bold;
	border-radius: 4px;
	margin-left: -28%;
	border: 1px solid;
}

input.sheet-death-save-success:checked + span.sheet-death-save-success-tab {
	background: #879a6a;
	color: white;
	border-radius: 4px;
}

input.sheet-death-save-success:checked + span.sheet-death-save-success-tab::before {
	content: "Success"
}


/* Skills section */

.sheet-skill-row {
	margin: 1px 0;
}

.sheet-skill-roll {
	padding: 0 5px!important;
	height: 29px;
}

.sheet-skill-name {
	margin-top: 5px;
	font-size: 11px!important;
}

.sheet-skill-checkbox {
	margin-top: 5px;
}

.sheet-margin-top {
	margin-top: 5px;
}

.sheet-margin-bottom {
	margin-bottom: 5px;
}

.sheet-margin-left {
	margin-left: 5px;
}

.sheet-margin-right {
	margin-right: 5px;
}


/* Testing modal window */

.sheet-ro-modal {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 99999;
	opacity: 0;
	pointer-events: none;
}

input.sheet-ro-checkbox:checked + span + div {
	opacity: 1;
	pointer-events: auto;
}

input.sheet-ro-checkbox:checked + span + div > div {
	width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	max-height: 65%;
	overflow-y: auto;
	overflow-x: hidden;
}

input.sheet-ro-checkbox {
	width: 16px;
	height: 28px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
	line-height: 28px;
	text-align: center;
}

span.sheet-ro-label {
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	border-radius: 4px;
	font-family: "Pictos";
	cursor: pointer;
	position: relative;
	margin-left: -16px;
}

.sheet-ro-header {
	font-weight: bold;
	margin-bottom: 10px;
}

.sheet-ro-title {
	font-size: 20px!important;
}

.sheet-ro-close-wrapper {
	text-align: right;
}

input.sheet-ro-close-checkbox {
	width: 28%;
	height: 20px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
}

span.sheet-ro-close-label::before {
	content: "X";
}

span.sheet-ro-close-label {
	text-align: center;
	display: inline-block;
	width: 28%;
	height: 18px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 4px;
	margin-left: -30%;
	border: 1px solid;
}

span.sheet-ro-close-label {
	background: #8c6075;
	color: white;
	border-radius: 4px;
	vertical-align: middle;
}

span.sheet-ignored-roll {
	background: black;
}

.sheet-ro-optionlabel {
	font-weight: bold;
}

.sheet-ro-option {}


/** test ends here */


/* Custom Pure Grid CSS (24 cols) DO NOT EDIT BELOW THIS LINE OR RISK BREAKING FORMATTING */

.sheet-row,
.sheet-rolltemplate-5eDefault .sheet-row {
	letter-spacing: -0.31em;
	*letter-spacing: normal;
	*word-spacing: -0.43em;
	text-rendering: optimizespeed;
}

.sheet-opera-only:-o-prefocus,
.sheet-row,
.sheet-rolltemplate-5eDefault .sheet-opera-only:-o-prefocus,
.sheet-rolltemplate-5eDefault .sheet-row {
	word-spacing: -0.43em;
}

.sheet-col,
.sheet-rolltemplate-5eDefault .sheet-col {
	display: inline-block;
	zoom: 1;
	*display: inline;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

.sheet-rolltemplate-5eDefault .sheet-col-1,
.sheet-rolltemplate-5eDefault .sheet-col-1-2,
.sheet-rolltemplate-5eDefault .sheet-col-1-3,
.sheet-rolltemplate-5eDefault .sheet-col-2-3,
.sheet-rolltemplate-5eDefault .sheet-col-1-4,
.sheet-rolltemplate-5eDefault .sheet-col-3-4,
.sheet-rolltemplate-5eDefault .sheet-col-1-5,
.sheet-rolltemplate-5eDefault .sheet-col-2-5,
.sheet-rolltemplate-5eDefault .sheet-col-3-5,
.sheet-rolltemplate-5eDefault .sheet-col-4-5,
.sheet-rolltemplate-5eDefault .sheet-col-1-6,
.sheet-rolltemplate-5eDefault .sheet-col-5-6,
.sheet-rolltemplate-5eDefault .sheet-col-1-7,
.sheet-rolltemplate-5eDefault .sheet-col-2-7,
.sheet-rolltemplate-5eDefault .sheet-col-3-7,
.sheet-rolltemplate-5eDefault .sheet-col-4-7,
.sheet-rolltemplate-5eDefault .sheet-col-5-7,
.sheet-rolltemplate-5eDefault .sheet-col-6-7,
.sheet-rolltemplate-5eDefault .sheet-col-1-8,
.sheet-rolltemplate-5eDefault .sheet-col-3-8,
.sheet-rolltemplate-5eDefault .sheet-col-5-8,
.sheet-rolltemplate-5eDefault .sheet-col-7-8,
.sheet-rolltemplate-5eDefault .sheet-col-1-9,
.sheet-rolltemplate-5eDefault .sheet-col-2-9,
.sheet-rolltemplate-5eDefault .sheet-col-4-9,
.sheet-rolltemplate-5eDefault .sheet-col-5-9,
.sheet-rolltemplate-5eDefault .sheet-col-6-9,
.sheet-rolltemplate-5eDefault .sheet-col-7-9,
.sheet-rolltemplate-5eDefault .sheet-col-8-9,
.sheet-rolltemplate-5eDefault .sheet-col-1-10,
.sheet-rolltemplate-5eDefault .sheet-col-3-10,
.sheet-rolltemplate-5eDefault .sheet-col-7-10,
.sheet-rolltemplate-5eDefault .sheet-col-9-10,
.sheet-rolltemplate-5eDefault .sheet-col-1-11,
.sheet-rolltemplate-5eDefault .sheet-col-2-11,
.sheet-rolltemplate-5eDefault .sheet-col-3-11,
.sheet-rolltemplate-5eDefault .sheet-col-4-11,
.sheet-rolltemplate-5eDefault .sheet-col-5-11,
.sheet-rolltemplate-5eDefault .sheet-col-6-11,
.sheet-rolltemplate-5eDefault .sheet-col-7-11,
.sheet-rolltemplate-5eDefault .sheet-col-8-11,
.sheet-rolltemplate-5eDefault .sheet-col-9-11,
.sheet-rolltemplate-5eDefault .sheet-col-10-11,
.sheet-rolltemplate-5eDefault .sheet-col-1-12,
.sheet-rolltemplate-5eDefault .sheet-col-5-12,
.sheet-rolltemplate-5eDefault .sheet-col-7-12,
.sheet-rolltemplate-5eDefault .sheet-col-9-12,
.sheet-rolltemplate-5eDefault .sheet-col-11-12,
.sheet-rolltemplate-5eDefault .sheet-col-1-13,
.sheet-rolltemplate-5eDefault .sheet-col-2-13,
.sheet-rolltemplate-5eDefault .sheet-col-3-13,
.sheet-rolltemplate-5eDefault .sheet-col-4-13,
.sheet-rolltemplate-5eDefault .sheet-col-5-13,
.sheet-rolltemplate-5eDefault .sheet-col-6-13,
.sheet-rolltemplate-5eDefault .sheet-col-7-13,
.sheet-rolltemplate-5eDefault .sheet-col-8-13,
.sheet-rolltemplate-5eDefault .sheet-col-9-13,
.sheet-rolltemplate-5eDefault .sheet-col-10-13,
.sheet-rolltemplate-5eDefault .sheet-col-11-13,
.sheet-rolltemplate-5eDefault .sheet-col-12-13,
.sheet-rolltemplate-5eDefault .sheet-col-1-14,
.sheet-rolltemplate-5eDefault .sheet-col-3-14,
.sheet-rolltemplate-5eDefault .sheet-col-5-14,
.sheet-rolltemplate-5eDefault .sheet-col-9-14,
.sheet-rolltemplate-5eDefault .sheet-col-11-14,
.sheet-rolltemplate-5eDefault .sheet-col-13-14,
.sheet-rolltemplate-5eDefault .sheet-col-1-15,
.sheet-rolltemplate-5eDefault .sheet-col-2-15,
.sheet-rolltemplate-5eDefault .sheet-col-4-15,
.sheet-rolltemplate-5eDefault .sheet-col-6-15,
.sheet-rolltemplate-5eDefault .sheet-col-7-15,
.sheet-rolltemplate-5eDefault .sheet-col-8-15,
.sheet-rolltemplate-5eDefault .sheet-col-9-15,
.sheet-rolltemplate-5eDefault .sheet-col-10-15,
.sheet-rolltemplate-5eDefault .sheet-col-11-15,
.sheet-rolltemplate-5eDefault .sheet-col-12-15,
.sheet-rolltemplate-5eDefault .sheet-col-13-15,
.sheet-rolltemplate-5eDefault .sheet-col-14-15,
.sheet-rolltemplate-5eDefault .sheet-col-1-16,
.sheet-rolltemplate-5eDefault .sheet-col-3-16,
.sheet-rolltemplate-5eDefault .sheet-col-5-16,
.sheet-rolltemplate-5eDefault .sheet-col-7-16,
.sheet-rolltemplate-5eDefault .sheet-col-9-16,
.sheet-rolltemplate-5eDefault .sheet-col-11-16,
.sheet-rolltemplate-5eDefault .sheet-col-13-16,
.sheet-rolltemplate-5eDefault .sheet-col-15-16,
.sheet-rolltemplate-5eDefault .sheet-col-1-17,
.sheet-rolltemplate-5eDefault .sheet-col-2-17,
.sheet-rolltemplate-5eDefault .sheet-col-3-17,
.sheet-rolltemplate-5eDefault .sheet-col-4-17,
.sheet-rolltemplate-5eDefault .sheet-col-5-17,
.sheet-rolltemplate-5eDefault .sheet-col-6-17,
.sheet-rolltemplate-5eDefault .sheet-col-7-17,
.sheet-rolltemplate-5eDefault .sheet-col-8-17,
.sheet-rolltemplate-5eDefault .sheet-col-9-17,
.sheet-rolltemplate-5eDefault .sheet-col-10-17,
.sheet-rolltemplate-5eDefault .sheet-col-11-17,
.sheet-rolltemplate-5eDefault .sheet-col-12-17,
.sheet-rolltemplate-5eDefault .sheet-col-13-17,
.sheet-rolltemplate-5eDefault .sheet-col-14-17,
.sheet-rolltemplate-5eDefault .sheet-col-15-17,
.sheet-rolltemplate-5eDefault .sheet-col-16-17,
.sheet-rolltemplate-5eDefault .sheet-col-1-18,
.sheet-rolltemplate-5eDefault .sheet-col-5-18,
.sheet-rolltemplate-5eDefault .sheet-col-7-18,
.sheet-rolltemplate-5eDefault .sheet-col-11-18,
.sheet-rolltemplate-5eDefault .sheet-col-13-18,
.sheet-rolltemplate-5eDefault .sheet-col-15-18,
.sheet-rolltemplate-5eDefault .sheet-col-17-18,
.sheet-rolltemplate-5eDefault .sheet-col-1-19,
.sheet-rolltemplate-5eDefault .sheet-col-2-19,
.sheet-rolltemplate-5eDefault .sheet-col-3-19,
.sheet-rolltemplate-5eDefault .sheet-col-4-19,
.sheet-rolltemplate-5eDefault .sheet-col-5-19,
.sheet-rolltemplate-5eDefault .sheet-col-6-19,
.sheet-rolltemplate-5eDefault .sheet-col-7-19,
.sheet-rolltemplate-5eDefault .sheet-col-8-19,
.sheet-rolltemplate-5eDefault .sheet-col-9-19,
.sheet-rolltemplate-5eDefault .sheet-col-10-19,
.sheet-rolltemplate-5eDefault .sheet-col-11-19,
.sheet-rolltemplate-5eDefault .sheet-col-12-19,
.sheet-rolltemplate-5eDefault .sheet-col-13-19,
.sheet-rolltemplate-5eDefault .sheet-col-14-19,
.sheet-rolltemplate-5eDefault .sheet-col-15-19,
.sheet-rolltemplate-5eDefault .sheet-col-16-19,
.sheet-rolltemplate-5eDefault .sheet-col-17-19,
.sheet-rolltemplate-5eDefault .sheet-col-18-19,
.sheet-rolltemplate-5eDefault .sheet-col-1-20,
.sheet-rolltemplate-5eDefault .sheet-col-3-20,
.sheet-rolltemplate-5eDefault .sheet-col-7-20,
.sheet-rolltemplate-5eDefault .sheet-col-9-20,
.sheet-rolltemplate-5eDefault .sheet-col-11-20,
.sheet-rolltemplate-5eDefault .sheet-col-13-20,
.sheet-rolltemplate-5eDefault .sheet-col-15-20,
.sheet-rolltemplate-5eDefault .sheet-col-17-20,
.sheet-rolltemplate-5eDefault .sheet-col-19-20,
.sheet-rolltemplate-5eDefault .sheet-col-1-21,
.sheet-rolltemplate-5eDefault .sheet-col-2-21,
.sheet-rolltemplate-5eDefault .sheet-col-4-21,
.sheet-rolltemplate-5eDefault .sheet-col-5-21,
.sheet-rolltemplate-5eDefault .sheet-col-6-21,
.sheet-rolltemplate-5eDefault .sheet-col-8-21,
.sheet-rolltemplate-5eDefault .sheet-col-9-21,
.sheet-rolltemplate-5eDefault .sheet-col-10-21,
.sheet-rolltemplate-5eDefault .sheet-col-11-21,
.sheet-rolltemplate-5eDefault .sheet-col-12-21,
.sheet-rolltemplate-5eDefault .sheet-col-13-21,
.sheet-rolltemplate-5eDefault .sheet-col-14-21,
.sheet-rolltemplate-5eDefault .sheet-col-15-21,
.sheet-rolltemplate-5eDefault .sheet-col-16-21,
.sheet-rolltemplate-5eDefault .sheet-col-17-21,
.sheet-rolltemplate-5eDefault .sheet-col-18-21,
.sheet-rolltemplate-5eDefault .sheet-col-19-21,
.sheet-rolltemplate-5eDefault .sheet-col-20-21,
.sheet-rolltemplate-5eDefault .sheet-col-1-22,
.sheet-rolltemplate-5eDefault .sheet-col-3-22,
.sheet-rolltemplate-5eDefault .sheet-col-5-22,
.sheet-rolltemplate-5eDefault .sheet-col-7-22,
.sheet-rolltemplate-5eDefault .sheet-col-9-22,
.sheet-rolltemplate-5eDefault .sheet-col-13-22,
.sheet-rolltemplate-5eDefault .sheet-col-15-22,
.sheet-rolltemplate-5eDefault .sheet-col-17-22,
.sheet-rolltemplate-5eDefault .sheet-col-19-22,
.sheet-rolltemplate-5eDefault .sheet-col-21-22,
.sheet-rolltemplate-5eDefault .sheet-col-1-23,
.sheet-rolltemplate-5eDefault .sheet-col-2-23,
.sheet-rolltemplate-5eDefault .sheet-col-3-23,
.sheet-rolltemplate-5eDefault .sheet-col-4-23,
.sheet-rolltemplate-5eDefault .sheet-col-5-23,
.sheet-rolltemplate-5eDefault .sheet-col-6-23,
.sheet-rolltemplate-5eDefault .sheet-col-7-23,
.sheet-rolltemplate-5eDefault .sheet-col-8-23,
.sheet-rolltemplate-5eDefault .sheet-col-9-23,
.sheet-rolltemplate-5eDefault .sheet-col-10-23,
.sheet-rolltemplate-5eDefault .sheet-col-11-23,
.sheet-rolltemplate-5eDefault .sheet-col-12-23,
.sheet-rolltemplate-5eDefault .sheet-col-13-23,
.sheet-rolltemplate-5eDefault .sheet-col-14-23,
.sheet-rolltemplate-5eDefault .sheet-col-15-23,
.sheet-rolltemplate-5eDefault .sheet-col-16-23,
.sheet-rolltemplate-5eDefault .sheet-col-17-23,
.sheet-rolltemplate-5eDefault .sheet-col-18-23,
.sheet-rolltemplate-5eDefault .sheet-col-19-23,
.sheet-rolltemplate-5eDefault .sheet-col-20-23,
.sheet-rolltemplate-5eDefault .sheet-col-21-23,
.sheet-rolltemplate-5eDefault .sheet-col-22-23,
.sheet-rolltemplate-5eDefault .sheet-col-1-24,
.sheet-rolltemplate-5eDefault .sheet-col-5-24,
.sheet-rolltemplate-5eDefault .sheet-col-7-24,
.sheet-rolltemplate-5eDefault .sheet-col-9-24,
.sheet-rolltemplate-5eDefault .sheet-col-11-24,
.sheet-rolltemplate-5eDefault .sheet-col-13-24,
.sheet-rolltemplate-5eDefault .sheet-col-15-24,
.sheet-rolltemplate-5eDefault .sheet-col-17-24,
.sheet-rolltemplate-5eDefault .sheet-col-19-24,
.sheet-rolltemplate-5eDefault .sheet-col-21-24,
.sheet-rolltemplate-5eDefault .sheet-col-23-24,
.sheet-col-1,
.sheet-col-1-2,
.sheet-col-1-3,
.sheet-col-2-3,
.sheet-col-1-4,
.sheet-col-3-4,
.sheet-col-1-5,
.sheet-col-2-5,
.sheet-col-3-5,
.sheet-col-4-5,
.sheet-col-1-6,
.sheet-col-5-6,
.sheet-col-1-7,
.sheet-col-2-7,
.sheet-col-3-7,
.sheet-col-4-7,
.sheet-col-5-7,
.sheet-col-6-7,
.sheet-col-1-8,
.sheet-col-3-8,
.sheet-col-5-8,
.sheet-col-7-8,
.sheet-col-1-9,
.sheet-col-2-9,
.sheet-col-4-9,
.sheet-col-5-9,
.sheet-col-6-9,
.sheet-col-7-9,
.sheet-col-8-9,
.sheet-col-1-10,
.sheet-col-3-10,
.sheet-col-7-10,
.sheet-col-9-10,
.sheet-col-1-11,
.sheet-col-2-11,
.sheet-col-3-11,
.sheet-col-4-11,
.sheet-col-5-11,
.sheet-col-6-11,
.sheet-col-7-11,
.sheet-col-8-11,
.sheet-col-9-11,
.sheet-col-10-11,
.sheet-col-1-12,
.sheet-col-5-12,
.sheet-col-7-12,
.sheet-col-9-12,
.sheet-col-11-12,
.sheet-col-1-13,
.sheet-col-2-13,
.sheet-col-3-13,
.sheet-col-4-13,
.sheet-col-5-13,
.sheet-col-6-13,
.sheet-col-7-13,
.sheet-col-8-13,
.sheet-col-9-13,
.sheet-col-10-13,
.sheet-col-11-13,
.sheet-col-12-13,
.sheet-col-1-14,
.sheet-col-3-14,
.sheet-col-5-14,
.sheet-col-9-14,
.sheet-col-11-14,
.sheet-col-13-14,
.sheet-col-1-15,
.sheet-col-2-15,
.sheet-col-4-15,
.sheet-col-6-15,
.sheet-col-7-15,
.sheet-col-8-15,
.sheet-col-9-15,
.sheet-col-10-15,
.sheet-col-11-15,
.sheet-col-12-15,
.sheet-col-13-15,
.sheet-col-14-15,
.sheet-col-1-16,
.sheet-col-3-16,
.sheet-col-5-16,
.sheet-col-7-16,
.sheet-col-9-16,
.sheet-col-11-16,
.sheet-col-13-16,
.sheet-col-15-16,
.sheet-col-1-17,
.sheet-col-2-17,
.sheet-col-3-17,
.sheet-col-4-17,
.sheet-col-5-17,
.sheet-col-6-17,
.sheet-col-7-17,
.sheet-col-8-17,
.sheet-col-9-17,
.sheet-col-10-17,
.sheet-col-11-17,
.sheet-col-12-17,
.sheet-col-13-17,
.sheet-col-14-17,
.sheet-col-15-17,
.sheet-col-16-17,
.sheet-col-1-18,
.sheet-col-5-18,
.sheet-col-7-18,
.sheet-col-11-18,
.sheet-col-13-18,
.sheet-col-15-18,
.sheet-col-17-18,
.sheet-col-1-19,
.sheet-col-2-19,
.sheet-col-3-19,
.sheet-col-4-19,
.sheet-col-5-19,
.sheet-col-6-19,
.sheet-col-7-19,
.sheet-col-8-19,
.sheet-col-9-19,
.sheet-col-10-19,
.sheet-col-11-19,
.sheet-col-12-19,
.sheet-col-13-19,
.sheet-col-14-19,
.sheet-col-15-19,
.sheet-col-16-19,
.sheet-col-17-19,
.sheet-col-18-19,
.sheet-col-1-20,
.sheet-col-3-20,
.sheet-col-7-20,
.sheet-col-9-20,
.sheet-col-11-20,
.sheet-col-13-20,
.sheet-col-15-20,
.sheet-col-17-20,
.sheet-col-19-20,
.sheet-col-1-21,
.sheet-col-2-21,
.sheet-col-4-21,
.sheet-col-5-21,
.sheet-col-6-21,
.sheet-col-8-21,
.sheet-col-9-21,
.sheet-col-10-21,
.sheet-col-11-21,
.sheet-col-12-21,
.sheet-col-13-21,
.sheet-col-14-21,
.sheet-col-15-21,
.sheet-col-16-21,
.sheet-col-17-21,
.sheet-col-18-21,
.sheet-col-19-21,
.sheet-col-20-21,
.sheet-col-1-22,
.sheet-col-3-22,
.sheet-col-5-22,
.sheet-col-7-22,
.sheet-col-9-22,
.sheet-col-13-22,
.sheet-col-15-22,
.sheet-col-17-22,
.sheet-col-19-22,
.sheet-col-21-22,
.sheet-col-1-23,
.sheet-col-2-23,
.sheet-col-3-23,
.sheet-col-4-23,
.sheet-col-5-23,
.sheet-col-6-23,
.sheet-col-7-23,
.sheet-col-8-23,
.sheet-col-9-23,
.sheet-col-10-23,
.sheet-col-11-23,
.sheet-col-12-23,
.sheet-col-13-23,
.sheet-col-14-23,
.sheet-col-15-23,
.sheet-col-16-23,
.sheet-col-17-23,
.sheet-col-18-23,
.sheet-col-19-23,
.sheet-col-20-23,
.sheet-col-21-23,
.sheet-col-22-23,
.sheet-col-1-24,
.sheet-col-5-24,
.sheet-col-7-24,
.sheet-col-9-24,
.sheet-col-11-24,
.sheet-col-13-24,
.sheet-col-15-24,
.sheet-col-17-24,
.sheet-col-19-24,
.sheet-col-21-24,
.sheet-col-23-24 {
	display: inline-block;
	zoom: 1;
	*display: inline;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

.sheet-col-1,
.sheet-rolltemplate-5eDefault .sheet-col-1 {
	display: block;
}

.sheet-col-1-2,
.sheet-rolltemplate-5eDefault .sheet-col-1-2 {
	width: 50%;
}

.sheet-offset-1-2,
.sheet-rolltemplate-5eDefault .sheet-offset-1-2 {
	margin-left: 50%;
}

.sheet-col-1-3,
.sheet-rolltemplate-5eDefault .sheet-col-1-3 {
	width: 33.33333%;
}

.sheet-offset-1-3,
.sheet-rolltemplate-5eDefault .sheet-offset-1-3 {
	margin-left: 33.33333%;
}

.sheet-col-2-3,
.sheet-rolltemplate-5eDefault .sheet-col-2-3 {
	width: 66.66667%;
}

.sheet-offset-2-3,
.sheet-rolltemplate-5eDefault .sheet-offset-2-3 {
	margin-left: 66.66667%;
}

.sheet-col-1-4,
.sheet-rolltemplate-5eDefault .sheet-col-1-4 {
	width: 25%;
}

.sheet-offset-1-4,
.sheet-rolltemplate-5eDefault .sheet-offset-1-4 {
	margin-left: 25%;
}

.sheet-col-3-4,
.sheet-rolltemplate-5eDefault .sheet-col-3-4 {
	width: 75%;
}

.sheet-offset-3-4,
.sheet-rolltemplate-5eDefault .sheet-offset-3-4 {
	margin-left: 75%;
}

.sheet-col-1-5,
.sheet-rolltemplate-5eDefault .sheet-col-1-5 {
	width: 20%;
}

.sheet-offset-1-5,
.sheet-rolltemplate-5eDefault .sheet-offset-1-5 {
	margin-left: 20%;
}

.sheet-col-2-5,
.sheet-rolltemplate-5eDefault .sheet-col-2-5 {
	width: 40%;
}

.sheet-offset-2-5,
.sheet-rolltemplate-5eDefault .sheet-offset-2-5 {
	margin-left: 40%;
}

.sheet-col-3-5,
.sheet-rolltemplate-5eDefault .sheet-col-3-5 {
	width: 60%;
}

.sheet-offset-3-5,
.sheet-rolltemplate-5eDefault .sheet-offset-3-5 {
	margin-left: 60%;
}

.sheet-col-4-5,
.sheet-rolltemplate-5eDefault .sheet-col-4-5 {
	width: 80%;
}

.sheet-offset-4-5,
.sheet-rolltemplate-5eDefault .sheet-offset-4-5 {
	margin-left: 80%;
}

.sheet-col-1-6,
.sheet-rolltemplate-5eDefault .sheet-col-1-6 {
	width: 16.66667%;
}

.sheet-offset-1-6,
.sheet-rolltemplate-5eDefault .sheet-offset-1-6 {
	margin-left: 16.66667%;
}

.sheet-col-5-6,
.sheet-rolltemplate-5eDefault .sheet-col-5-6 {
	width: 83.33333%;
}

.sheet-offset-5-6,
.sheet-rolltemplate-5eDefault .sheet-offset-5-6 {
	margin-left: 83.33333%;
}

.sheet-col-1-7,
.sheet-rolltemplate-5eDefault .sheet-col-1-7 {
	width: 14.28571%;
}

.sheet-offset-1-7,
.sheet-rolltemplate-5eDefault .sheet-offset-1-7 {
	margin-left: 14.28571%;
}

.sheet-col-2-7,
.sheet-rolltemplate-5eDefault .sheet-col-2-7 {
	width: 28.57143%;
}

.sheet-offset-2-7,
.sheet-rolltemplate-5eDefault .sheet-offset-2-7 {
	margin-left: 28.57143%;
}

.sheet-col-3-7,
.sheet-rolltemplate-5eDefault .sheet-col-3-7 {
	width: 42.85714%;
}

.sheet-offset-3-7,
.sheet-rolltemplate-5eDefault .sheet-offset-3-7 {
	margin-left: 42.85714%;
}

.sheet-col-4-7,
.sheet-rolltemplate-5eDefault .sheet-col-4-7 {
	width: 57.14286%;
}

.sheet-offset-4-7,
.sheet-rolltemplate-5eDefault .sheet-offset-4-7 {
	margin-left: 57.14286%;
}

.sheet-col-5-7,
.sheet-rolltemplate-5eDefault .sheet-col-5-7 {
	width: 71.42857%;
}

.sheet-offset-5-7,
.sheet-rolltemplate-5eDefault .sheet-offset-5-7 {
	margin-left: 71.42857%;
}

.sheet-col-6-7,
.sheet-rolltemplate-5eDefault .sheet-col-6-7 {
	width: 85.71429%;
}

.sheet-offset-6-7,
.sheet-rolltemplate-5eDefault .sheet-offset-6-7 {
	margin-left: 85.71429%;
}

.sheet-col-1-8,
.sheet-rolltemplate-5eDefault .sheet-col-1-8 {
	width: 12.5%;
}

.sheet-offset-1-8,
.sheet-rolltemplate-5eDefault .sheet-offset-1-8 {
	margin-left: 12.5%;
}

.sheet-col-3-8,
.sheet-rolltemplate-5eDefault .sheet-col-3-8 {
	width: 37.5%;
}

.sheet-offset-3-8,
.sheet-rolltemplate-5eDefault .sheet-offset-3-8 {
	margin-left: 37.5%;
}

.sheet-col-5-8,
.sheet-rolltemplate-5eDefault .sheet-col-5-8 {
	width: 62.5%;
}

.sheet-offset-5-8,
.sheet-rolltemplate-5eDefault .sheet-offset-5-8 {
	margin-left: 62.5%;
}

.sheet-col-7-8,
.sheet-rolltemplate-5eDefault .sheet-col-7-8 {
	width: 87.5%;
}

.sheet-offset-7-8,
.sheet-rolltemplate-5eDefault .sheet-offset-7-8 {
	margin-left: 87.5%;
}

.sheet-col-1-9,
.sheet-rolltemplate-5eDefault .sheet-col-1-9 {
	width: 11.11111%;
}

.sheet-offset-1-9,
.sheet-rolltemplate-5eDefault .sheet-offset-1-9 {
	margin-left: 11.11111%;
}

.sheet-col-2-9,
.sheet-rolltemplate-5eDefault .sheet-col-2-9 {
	width: 22.22222%;
}

.sheet-offset-2-9,
.sheet-rolltemplate-5eDefault .sheet-offset-2-9 {
	margin-left: 22.22222%;
}

.sheet-col-4-9,
.sheet-rolltemplate-5eDefault .sheet-col-4-9 {
	width: 44.44444%;
}

.sheet-offset-4-9,
.sheet-rolltemplate-5eDefault .sheet-offset-4-9 {
	margin-left: 44.44444%;
}

.sheet-col-5-9,
.sheet-rolltemplate-5eDefault .sheet-col-5-9 {
	width: 55.55556%;
}

.sheet-offset-5-9,
.sheet-rolltemplate-5eDefault .sheet-offset-5-9 {
	margin-left: 55.55556%;
}

.sheet-col-6-9,
.sheet-rolltemplate-5eDefault .sheet-col-6-9 {
	width: 66.66667%;
}

.sheet-offset-6-9,
.sheet-rolltemplate-5eDefault .sheet-offset-6-9 {
	margin-left: 66.66667%;
}

.sheet-col-7-9,
.sheet-rolltemplate-5eDefault .sheet-col-7-9 {
	width: 77.77778%;
}

.sheet-offset-7-9,
.sheet-rolltemplate-5eDefault .sheet-offset-7-9 {
	margin-left: 77.77778%;
}

.sheet-col-8-9,
.sheet-rolltemplate-5eDefault .sheet-col-8-9 {
	width: 88.88889%;
}

.sheet-offset-8-9,
.sheet-rolltemplate-5eDefault .sheet-offset-8-9 {
	margin-left: 88.88889%;
}

.sheet-col-1-10,
.sheet-rolltemplate-5eDefault .sheet-col-1-10 {
	width: 10%;
}

.sheet-offset-1-10,
.sheet-rolltemplate-5eDefault .sheet-offset-1-10 {
	margin-left: 10%;
}

.sheet-col-3-10,
.sheet-rolltemplate-5eDefault .sheet-col-3-10 {
	width: 30%;
}

.sheet-offset-3-10,
.sheet-rolltemplate-5eDefault .sheet-offset-3-10 {
	margin-left: 30%;
}

.sheet-col-7-10,
.sheet-rolltemplate-5eDefault .sheet-col-7-10 {
	width: 70%;
}

.sheet-offset-7-10,
.sheet-rolltemplate-5eDefault .sheet-offset-7-10 {
	margin-left: 70%;
}

.sheet-col-9-10,
.sheet-rolltemplate-5eDefault .sheet-col-9-10 {
	width: 90%;
}

.sheet-offset-9-10,
.sheet-rolltemplate-5eDefault .sheet-offset-9-10 {
	margin-left: 90%;
}

.sheet-col-1-11,
.sheet-rolltemplate-5eDefault .sheet-col-1-11 {
	width: 9.09091%;
}

.sheet-offset-1-11,
.sheet-rolltemplate-5eDefault .sheet-offset-1-11 {
	margin-left: 9.09091%;
}

.sheet-col-2-11,
.sheet-rolltemplate-5eDefault .sheet-col-2-11 {
	width: 18.18182%;
}

.sheet-offset-2-11,
.sheet-rolltemplate-5eDefault .sheet-offset-2-11 {
	margin-left: 18.18182%;
}

.sheet-col-3-11,
.sheet-rolltemplate-5eDefault .sheet-col-3-11 {
	width: 27.27273%;
}

.sheet-offset-3-11,
.sheet-rolltemplate-5eDefault .sheet-offset-3-11 {
	margin-left: 27.27273%;
}

.sheet-col-4-11,
.sheet-rolltemplate-5eDefault .sheet-col-4-11 {
	width: 36.36364%;
}

.sheet-offset-4-11,
.sheet-rolltemplate-5eDefault .sheet-offset-4-11 {
	margin-left: 36.36364%;
}

.sheet-col-5-11,
.sheet-rolltemplate-5eDefault .sheet-col-5-11 {
	width: 45.45455%;
}

.sheet-offset-5-11,
.sheet-rolltemplate-5eDefault .sheet-offset-5-11 {
	margin-left: 45.45455%;
}

.sheet-col-6-11,
.sheet-rolltemplate-5eDefault .sheet-col-6-11 {
	width: 54.54545%;
}

.sheet-offset-6-11,
.sheet-rolltemplate-5eDefault .sheet-offset-6-11 {
	margin-left: 54.54545%;
}

.sheet-col-7-11,
.sheet-rolltemplate-5eDefault .sheet-col-7-11 {
	width: 63.63636%;
}

.sheet-offset-7-11,
.sheet-rolltemplate-5eDefault .sheet-offset-7-11 {
	margin-left: 63.63636%;
}

.sheet-col-8-11,
.sheet-rolltemplate-5eDefault .sheet-col-8-11 {
	width: 72.72727%;
}

.sheet-offset-8-11,
.sheet-rolltemplate-5eDefault .sheet-offset-8-11 {
	margin-left: 72.72727%;
}

.sheet-col-9-11,
.sheet-rolltemplate-5eDefault .sheet-col-9-11 {
	width: 81.81818%;
}

.sheet-offset-9-11,
.sheet-rolltemplate-5eDefault .sheet-offset-9-11 {
	margin-left: 81.81818%;
}

.sheet-col-10-11,
.sheet-rolltemplate-5eDefault .sheet-col-10-11 {
	width: 90.90909%;
}

.sheet-offset-10-11,
.sheet-rolltemplate-5eDefault .sheet-offset-10-11 {
	margin-left: 90.90909%;
}

.sheet-col-1-12,
.sheet-rolltemplate-5eDefault .sheet-col-1-12 {
	width: 8.33333%;
}

.sheet-offset-1-12,
.sheet-rolltemplate-5eDefault .sheet-offset-1-12 {
	margin-left: 8.33333%;
}

.sheet-col-5-12,
.sheet-rolltemplate-5eDefault .sheet-col-5-12 {
	width: 41.66667%;
}

.sheet-offset-5-12,
.sheet-rolltemplate-5eDefault .sheet-offset-5-12 {
	margin-left: 41.66667%;
}

.sheet-col-7-12,
.sheet-rolltemplate-5eDefault .sheet-col-7-12 {
	width: 58.33333%;
}

.sheet-offset-7-12,
.sheet-rolltemplate-5eDefault .sheet-offset-7-12 {
	margin-left: 58.33333%;
}

.sheet-col-9-12,
.sheet-rolltemplate-5eDefault .sheet-col-9-12 {
	width: 75%;
}

.sheet-offset-9-12,
.sheet-rolltemplate-5eDefault .sheet-offset-9-12 {
	margin-left: 75%;
}

.sheet-col-11-12,
.sheet-rolltemplate-5eDefault .sheet-col-11-12 {
	width: 91.66667%;
}

.sheet-offset-11-12,
.sheet-rolltemplate-5eDefault .sheet-offset-11-12 {
	margin-left: 91.66667%;
}

.sheet-col-1-13,
.sheet-rolltemplate-5eDefault .sheet-col-1-13 {
	width: 7.69231%;
}

.sheet-offset-1-13,
.sheet-rolltemplate-5eDefault .sheet-offset-1-13 {
	margin-left: 7.69231%;
}

.sheet-col-2-13,
.sheet-rolltemplate-5eDefault .sheet-col-2-13 {
	width: 15.38462%;
}

.sheet-offset-2-13,
.sheet-rolltemplate-5eDefault .sheet-offset-2-13 {
	margin-left: 15.38462%;
}

.sheet-col-3-13,
.sheet-rolltemplate-5eDefault .sheet-col-3-13 {
	width: 23.07692%;
}

.sheet-offset-3-13,
.sheet-rolltemplate-5eDefault .sheet-offset-3-13 {
	margin-left: 23.07692%;
}

.sheet-col-4-13,
.sheet-rolltemplate-5eDefault .sheet-col-4-13 {
	width: 30.76923%;
}

.sheet-offset-4-13,
.sheet-rolltemplate-5eDefault .sheet-offset-4-13 {
	margin-left: 30.76923%;
}

.sheet-col-5-13,
.sheet-rolltemplate-5eDefault .sheet-col-5-13 {
	width: 38.46154%;
}

.sheet-offset-5-13,
.sheet-rolltemplate-5eDefault .sheet-offset-5-13 {
	margin-left: 38.46154%;
}

.sheet-col-6-13,
.sheet-rolltemplate-5eDefault .sheet-col-6-13 {
	width: 46.15385%;
}

.sheet-offset-6-13,
.sheet-rolltemplate-5eDefault .sheet-offset-6-13 {
	margin-left: 46.15385%;
}

.sheet-col-7-13,
.sheet-rolltemplate-5eDefault .sheet-col-7-13 {
	width: 53.84615%;
}

.sheet-offset-7-13,
.sheet-rolltemplate-5eDefault .sheet-offset-7-13 {
	margin-left: 53.84615%;
}

.sheet-col-8-13,
.sheet-rolltemplate-5eDefault .sheet-col-8-13 {
	width: 61.53846%;
}

.sheet-offset-8-13,
.sheet-rolltemplate-5eDefault .sheet-offset-8-13 {
	margin-left: 61.53846%;
}

.sheet-col-9-13,
.sheet-rolltemplate-5eDefault .sheet-col-9-13 {
	width: 69.23077%;
}

.sheet-offset-9-13,
.sheet-rolltemplate-5eDefault .sheet-offset-9-13 {
	margin-left: 69.23077%;
}

.sheet-col-10-13,
.sheet-rolltemplate-5eDefault .sheet-col-10-13 {
	width: 76.92308%;
}

.sheet-offset-10-13,
.sheet-rolltemplate-5eDefault .sheet-offset-10-13 {
	margin-left: 76.92308%;
}

.sheet-col-11-13,
.sheet-rolltemplate-5eDefault .sheet-col-11-13 {
	width: 84.61538%;
}

.sheet-offset-11-13,
.sheet-rolltemplate-5eDefault .sheet-offset-11-13 {
	margin-left: 84.61538%;
}

.sheet-col-12-13,
.sheet-rolltemplate-5eDefault .sheet-col-12-13 {
	width: 92.30769%;
}

.sheet-offset-12-13,
.sheet-rolltemplate-5eDefault .sheet-offset-12-13 {
	margin-left: 92.30769%;
}

.sheet-col-1-14,
.sheet-rolltemplate-5eDefault .sheet-col-1-14 {
	width: 7.14286%;
}

.sheet-offset-1-14,
.sheet-rolltemplate-5eDefault .sheet-offset-1-14 {
	margin-left: 7.14286%;
}

.sheet-col-3-14,
.sheet-rolltemplate-5eDefault .sheet-col-3-14 {
	width: 21.42857%;
}

.sheet-offset-3-14,
.sheet-rolltemplate-5eDefault .sheet-offset-3-14 {
	margin-left: 21.42857%;
}

.sheet-col-5-14,
.sheet-rolltemplate-5eDefault .sheet-col-5-14 {
	width: 35.71429%;
}

.sheet-offset-5-14,
.sheet-rolltemplate-5eDefault .sheet-offset-5-14 {
	margin-left: 35.71429%;
}

.sheet-col-9-14,
.sheet-rolltemplate-5eDefault .sheet-col-9-14 {
	width: 64.28571%;
}

.sheet-offset-9-14,
.sheet-rolltemplate-5eDefault .sheet-offset-9-14 {
	margin-left: 64.28571%;
}

.sheet-col-11-14,
.sheet-rolltemplate-5eDefault .sheet-col-11-14 {
	width: 78.57143%;
}

.sheet-offset-11-14,
.sheet-rolltemplate-5eDefault .sheet-offset-11-14 {
	margin-left: 78.57143%;
}

.sheet-col-13-14,
.sheet-rolltemplate-5eDefault .sheet-col-13-14 {
	width: 92.85714%;
}

.sheet-offset-13-14,
.sheet-rolltemplate-5eDefault .sheet-offset-13-14 {
	margin-left: 92.85714%;
}

.sheet-col-1-15,
.sheet-rolltemplate-5eDefault .sheet-col-1-15 {
	width: 6.66667%;
}

.sheet-offset-1-15,
.sheet-rolltemplate-5eDefault .sheet-offset-1-15 {
	margin-left: 6.66667%;
}

.sheet-col-2-15,
.sheet-rolltemplate-5eDefault .sheet-col-2-15 {
	width: 13.33333%;
}

.sheet-offset-2-15,
.sheet-rolltemplate-5eDefault .sheet-offset-2-15 {
	margin-left: 13.33333%;
}

.sheet-col-4-15,
.sheet-rolltemplate-5eDefault .sheet-col-4-15 {
	width: 26.66667%;
}

.sheet-offset-4-15,
.sheet-rolltemplate-5eDefault .sheet-offset-4-15 {
	margin-left: 26.66667%;
}

.sheet-col-6-15,
.sheet-rolltemplate-5eDefault .sheet-col-6-15 {
	width: 40%;
}

.sheet-offset-6-15,
.sheet-rolltemplate-5eDefault .sheet-offset-6-15 {
	margin-left: 40%;
}

.sheet-col-7-15,
.sheet-rolltemplate-5eDefault .sheet-col-7-15 {
	width: 46.66667%;
}

.sheet-offset-7-15,
.sheet-rolltemplate-5eDefault .sheet-offset-7-15 {
	margin-left: 46.66667%;
}

.sheet-col-8-15,
.sheet-rolltemplate-5eDefault .sheet-col-8-15 {
	width: 53.33333%;
}

.sheet-offset-8-15,
.sheet-rolltemplate-5eDefault .sheet-offset-8-15 {
	margin-left: 53.33333%;
}

.sheet-col-9-15,
.sheet-rolltemplate-5eDefault .sheet-col-9-15 {
	width: 60%;
}

.sheet-offset-9-15,
.sheet-rolltemplate-5eDefault .sheet-offset-9-15 {
	margin-left: 60%;
}

.sheet-col-10-15,
.sheet-rolltemplate-5eDefault .sheet-col-10-15 {
	width: 66.66667%;
}

.sheet-offset-10-15,
.sheet-rolltemplate-5eDefault .sheet-offset-10-15 {
	margin-left: 66.66667%;
}

.sheet-col-11-15,
.sheet-rolltemplate-5eDefault .sheet-col-11-15 {
	width: 73.33333%;
}

.sheet-offset-11-15,
.sheet-rolltemplate-5eDefault .sheet-offset-11-15 {
	margin-left: 73.33333%;
}

.sheet-col-12-15,
.sheet-rolltemplate-5eDefault .sheet-col-12-15 {
	width: 80%;
}

.sheet-offset-12-15,
.sheet-rolltemplate-5eDefault .sheet-offset-12-15 {
	margin-left: 80%;
}

.sheet-col-13-15,
.sheet-rolltemplate-5eDefault .sheet-col-13-15 {
	width: 86.66667%;
}

.sheet-offset-13-15,
.sheet-rolltemplate-5eDefault .sheet-offset-13-15 {
	margin-left: 86.66667%;
}

.sheet-col-14-15,
.sheet-rolltemplate-5eDefault .sheet-col-14-15 {
	width: 93.33333%;
}

.sheet-offset-14-15,
.sheet-rolltemplate-5eDefault .sheet-offset-14-15 {
	margin-left: 93.33333%;
}

.sheet-col-1-16,
.sheet-rolltemplate-5eDefault .sheet-col-1-16 {
	width: 6.25%;
}

.sheet-offset-1-16,
.sheet-rolltemplate-5eDefault .sheet-offset-1-16 {
	margin-left: 6.25%;
}

.sheet-col-3-16,
.sheet-rolltemplate-5eDefault .sheet-col-3-16 {
	width: 18.75%;
}

.sheet-offset-3-16,
.sheet-rolltemplate-5eDefault .sheet-offset-3-16 {
	margin-left: 18.75%;
}

.sheet-col-5-16,
.sheet-rolltemplate-5eDefault .sheet-col-5-16 {
	width: 31.25%;
}

.sheet-offset-5-16,
.sheet-rolltemplate-5eDefault .sheet-offset-5-16 {
	margin-left: 31.25%;
}

.sheet-col-7-16,
.sheet-rolltemplate-5eDefault .sheet-col-7-16 {
	width: 43.75%;
}

.sheet-offset-7-16,
.sheet-rolltemplate-5eDefault .sheet-offset-7-16 {
	margin-left: 43.75%;
}

.sheet-col-9-16,
.sheet-rolltemplate-5eDefault .sheet-col-9-16 {
	width: 56.25%;
}

.sheet-offset-9-16,
.sheet-rolltemplate-5eDefault .sheet-offset-9-16 {
	margin-left: 56.25%;
}

.sheet-col-11-16,
.sheet-rolltemplate-5eDefault .sheet-col-11-16 {
	width: 68.75%;
}

.sheet-offset-11-16,
.sheet-rolltemplate-5eDefault .sheet-offset-11-16 {
	margin-left: 68.75%;
}

.sheet-col-13-16,
.sheet-rolltemplate-5eDefault .sheet-col-13-16 {
	width: 81.25%;
}

.sheet-offset-13-16,
.sheet-rolltemplate-5eDefault .sheet-offset-13-16 {
	margin-left: 81.25%;
}

.sheet-col-15-16,
.sheet-rolltemplate-5eDefault .sheet-col-15-16 {
	width: 93.75%;
}

.sheet-offset-15-16,
.sheet-rolltemplate-5eDefault .sheet-offset-15-16 {
	margin-left: 93.75%;
}

.sheet-col-1-17,
.sheet-rolltemplate-5eDefault .sheet-col-1-17 {
	width: 5.88235%;
}

.sheet-offset-1-17,
.sheet-rolltemplate-5eDefault .sheet-offset-1-17 {
	margin-left: 5.88235%;
}

.sheet-col-2-17,
.sheet-rolltemplate-5eDefault .sheet-col-2-17 {
	width: 11.76471%;
}

.sheet-offset-2-17,
.sheet-rolltemplate-5eDefault .sheet-offset-2-17 {
	margin-left: 11.76471%;
}

.sheet-col-3-17,
.sheet-rolltemplate-5eDefault .sheet-col-3-17 {
	width: 17.64706%;
}

.sheet-offset-3-17,
.sheet-rolltemplate-5eDefault .sheet-offset-3-17 {
	margin-left: 17.64706%;
}

.sheet-col-4-17,
.sheet-rolltemplate-5eDefault .sheet-col-4-17 {
	width: 23.52941%;
}

.sheet-offset-4-17,
.sheet-rolltemplate-5eDefault .sheet-offset-4-17 {
	margin-left: 23.52941%;
}

.sheet-col-5-17,
.sheet-rolltemplate-5eDefault .sheet-col-5-17 {
	width: 29.41176%;
}

.sheet-offset-5-17,
.sheet-rolltemplate-5eDefault .sheet-offset-5-17 {
	margin-left: 29.41176%;
}

.sheet-col-6-17,
.sheet-rolltemplate-5eDefault .sheet-col-6-17 {
	width: 35.29412%;
}

.sheet-offset-6-17,
.sheet-rolltemplate-5eDefault .sheet-offset-6-17 {
	margin-left: 35.29412%;
}

.sheet-col-7-17,
.sheet-rolltemplate-5eDefault .sheet-col-7-17 {
	width: 41.17647%;
}

.sheet-offset-7-17,
.sheet-rolltemplate-5eDefault .sheet-offset-7-17 {
	margin-left: 41.17647%;
}

.sheet-col-8-17,
.sheet-rolltemplate-5eDefault .sheet-col-8-17 {
	width: 47.05882%;
}

.sheet-offset-8-17,
.sheet-rolltemplate-5eDefault .sheet-offset-8-17 {
	margin-left: 47.05882%;
}

.sheet-col-9-17,
.sheet-rolltemplate-5eDefault .sheet-col-9-17 {
	width: 52.94118%;
}

.sheet-offset-9-17,
.sheet-rolltemplate-5eDefault .sheet-offset-9-17 {
	margin-left: 52.94118%;
}

.sheet-col-10-17,
.sheet-rolltemplate-5eDefault .sheet-col-10-17 {
	width: 58.82353%;
}

.sheet-offset-10-17,
.sheet-rolltemplate-5eDefault .sheet-offset-10-17 {
	margin-left: 58.82353%;
}

.sheet-col-11-17,
.sheet-rolltemplate-5eDefault .sheet-col-11-17 {
	width: 64.70588%;
}

.sheet-offset-11-17,
.sheet-rolltemplate-5eDefault .sheet-offset-11-17 {
	margin-left: 64.70588%;
}

.sheet-col-12-17,
.sheet-rolltemplate-5eDefault .sheet-col-12-17 {
	width: 70.58824%;
}

.sheet-offset-12-17,
.sheet-rolltemplate-5eDefault .sheet-offset-12-17 {
	margin-left: 70.58824%;
}

.sheet-col-13-17,
.sheet-rolltemplate-5eDefault .sheet-col-13-17 {
	width: 76.47059%;
}

.sheet-offset-13-17,
.sheet-rolltemplate-5eDefault .sheet-offset-13-17 {
	margin-left: 76.47059%;
}

.sheet-col-14-17,
.sheet-rolltemplate-5eDefault .sheet-col-14-17 {
	width: 82.35294%;
}

.sheet-offset-14-17,
.sheet-rolltemplate-5eDefault .sheet-offset-14-17 {
	margin-left: 82.35294%;
}

.sheet-col-15-17,
.sheet-rolltemplate-5eDefault .sheet-col-15-17 {
	width: 88.23529%;
}

.sheet-offset-15-17,
.sheet-rolltemplate-5eDefault .sheet-offset-15-17 {
	margin-left: 88.23529%;
}

.sheet-col-16-17,
.sheet-rolltemplate-5eDefault .sheet-col-16-17 {
	width: 94.11765%;
}

.sheet-offset-16-17,
.sheet-rolltemplate-5eDefault .sheet-offset-16-17 {
	margin-left: 94.11765%;
}

.sheet-col-1-18,
.sheet-rolltemplate-5eDefault .sheet-col-1-18 {
	width: 5.55556%;
}

.sheet-offset-1-18,
.sheet-rolltemplate-5eDefault .sheet-offset-1-18 {
	margin-left: 5.55556%;
}

.sheet-col-5-18,
.sheet-rolltemplate-5eDefault .sheet-col-5-18 {
	width: 27.77778%;
}

.sheet-offset-5-18,
.sheet-rolltemplate-5eDefault .sheet-offset-5-18 {
	margin-left: 27.77778%;
}

.sheet-col-7-18,
.sheet-rolltemplate-5eDefault .sheet-col-7-18 {
	width: 38.88889%;
}

.sheet-offset-7-18,
.sheet-rolltemplate-5eDefault .sheet-offset-7-18 {
	margin-left: 38.88889%;
}

.sheet-col-11-18,
.sheet-rolltemplate-5eDefault .sheet-col-11-18 {
	width: 61.11111%;
}

.sheet-offset-11-18,
.sheet-rolltemplate-5eDefault .sheet-offset-11-18 {
	margin-left: 61.11111%;
}

.sheet-col-13-18,
.sheet-rolltemplate-5eDefault .sheet-col-13-18 {
	width: 72.22222%;
}

.sheet-offset-13-18,
.sheet-rolltemplate-5eDefault .sheet-offset-13-18 {
	margin-left: 72.22222%;
}

.sheet-col-15-18,
.sheet-rolltemplate-5eDefault .sheet-col-15-18 {
	width: 83.33333%;
}

.sheet-offset-15-18,
.sheet-rolltemplate-5eDefault .sheet-offset-15-18 {
	margin-left: 83.33333%;
}

.sheet-col-17-18,
.sheet-rolltemplate-5eDefault .sheet-col-17-18 {
	width: 94.44444%;
}

.sheet-offset-17-18,
.sheet-rolltemplate-5eDefault .sheet-offset-17-18 {
	margin-left: 94.44444%;
}

.sheet-col-1-19,
.sheet-rolltemplate-5eDefault .sheet-col-1-19 {
	width: 5.26316%;
}

.sheet-offset-1-19,
.sheet-rolltemplate-5eDefault .sheet-offset-1-19 {
	margin-left: 5.26316%;
}

.sheet-col-2-19,
.sheet-rolltemplate-5eDefault .sheet-col-2-19 {
	width: 10.52632%;
}

.sheet-offset-2-19,
.sheet-rolltemplate-5eDefault .sheet-offset-2-19 {
	margin-left: 10.52632%;
}

.sheet-col-3-19,
.sheet-rolltemplate-5eDefault .sheet-col-3-19 {
	width: 15.78947%;
}

.sheet-offset-3-19,
.sheet-rolltemplate-5eDefault .sheet-offset-3-19 {
	margin-left: 15.78947%;
}

.sheet-col-4-19,
.sheet-rolltemplate-5eDefault .sheet-col-4-19 {
	width: 21.05263%;
}

.sheet-offset-4-19,
.sheet-rolltemplate-5eDefault .sheet-offset-4-19 {
	margin-left: 21.05263%;
}

.sheet-col-5-19,
.sheet-rolltemplate-5eDefault .sheet-col-5-19 {
	width: 26.31579%;
}

.sheet-offset-5-19,
.sheet-rolltemplate-5eDefault .sheet-offset-5-19 {
	margin-left: 26.31579%;
}

.sheet-col-6-19,
.sheet-rolltemplate-5eDefault .sheet-col-6-19 {
	width: 31.57895%;
}

.sheet-offset-6-19,
.sheet-rolltemplate-5eDefault .sheet-offset-6-19 {
	margin-left: 31.57895%;
}

.sheet-col-7-19,
.sheet-rolltemplate-5eDefault .sheet-col-7-19 {
	width: 36.84211%;
}

.sheet-offset-7-19,
.sheet-rolltemplate-5eDefault .sheet-offset-7-19 {
	margin-left: 36.84211%;
}

.sheet-col-8-19,
.sheet-rolltemplate-5eDefault .sheet-col-8-19 {
	width: 42.10526%;
}

.sheet-offset-8-19,
.sheet-rolltemplate-5eDefault .sheet-offset-8-19 {
	margin-left: 42.10526%;
}

.sheet-col-9-19,
.sheet-rolltemplate-5eDefault .sheet-col-9-19 {
	width: 47.36842%;
}

.sheet-offset-9-19,
.sheet-rolltemplate-5eDefault .sheet-offset-9-19 {
	margin-left: 47.36842%;
}

.sheet-col-10-19,
.sheet-rolltemplate-5eDefault .sheet-col-10-19 {
	width: 52.63158%;
}

.sheet-offset-10-19,
.sheet-rolltemplate-5eDefault .sheet-offset-10-19 {
	margin-left: 52.63158%;
}

.sheet-col-11-19,
.sheet-rolltemplate-5eDefault .sheet-col-11-19 {
	width: 57.89474%;
}

.sheet-offset-11-19,
.sheet-rolltemplate-5eDefault .sheet-offset-11-19 {
	margin-left: 57.89474%;
}

.sheet-col-12-19,
.sheet-rolltemplate-5eDefault .sheet-col-12-19 {
	width: 63.15789%;
}

.sheet-offset-12-19,
.sheet-rolltemplate-5eDefault .sheet-offset-12-19 {
	margin-left: 63.15789%;
}

.sheet-col-13-19,
.sheet-rolltemplate-5eDefault .sheet-col-13-19 {
	width: 68.42105%;
}

.sheet-offset-13-19,
.sheet-rolltemplate-5eDefault .sheet-offset-13-19 {
	margin-left: 68.42105%;
}

.sheet-col-14-19,
.sheet-rolltemplate-5eDefault .sheet-col-14-19 {
	width: 73.68421%;
}

.sheet-offset-14-19,
.sheet-rolltemplate-5eDefault .sheet-offset-14-19 {
	margin-left: 73.68421%;
}

.sheet-col-15-19,
.sheet-rolltemplate-5eDefault .sheet-col-15-19 {
	width: 78.94737%;
}

.sheet-offset-15-19,
.sheet-rolltemplate-5eDefault .sheet-offset-15-19 {
	margin-left: 78.94737%;
}

.sheet-col-16-19,
.sheet-rolltemplate-5eDefault .sheet-col-16-19 {
	width: 84.21053%;
}

.sheet-offset-16-19,
.sheet-rolltemplate-5eDefault .sheet-offset-16-19 {
	margin-left: 84.21053%;
}

.sheet-col-17-19,
.sheet-rolltemplate-5eDefault .sheet-col-17-19 {
	width: 89.47368%;
}

.sheet-offset-17-19,
.sheet-rolltemplate-5eDefault .sheet-offset-17-19 {
	margin-left: 89.47368%;
}

.sheet-col-18-19,
.sheet-rolltemplate-5eDefault .sheet-col-18-19 {
	width: 94.73684%;
}

.sheet-offset-18-19,
.sheet-rolltemplate-5eDefault .sheet-offset-18-19 {
	margin-left: 94.73684%;
}

.sheet-col-1-20,
.sheet-rolltemplate-5eDefault .sheet-col-1-20 {
	width: 5%;
}

.sheet-offset-1-20,
.sheet-rolltemplate-5eDefault .sheet-offset-1-20 {
	margin-left: 5%;
}

.sheet-col-3-20,
.sheet-rolltemplate-5eDefault .sheet-col-3-20 {
	width: 15%;
}

.sheet-offset-3-20,
.sheet-rolltemplate-5eDefault .sheet-offset-3-20 {
	margin-left: 15%;
}

.sheet-col-7-20,
.sheet-rolltemplate-5eDefault .sheet-col-7-20 {
	width: 35%;
}

.sheet-offset-7-20,
.sheet-rolltemplate-5eDefault .sheet-offset-7-20 {
	margin-left: 35%;
}

.sheet-col-9-20,
.sheet-rolltemplate-5eDefault .sheet-col-9-20 {
	width: 45%;
}

.sheet-offset-9-20,
.sheet-rolltemplate-5eDefault .sheet-offset-9-20 {
	margin-left: 45%;
}

.sheet-col-11-20,
.sheet-rolltemplate-5eDefault .sheet-col-11-20 {
	width: 55%;
}

.sheet-offset-11-20,
.sheet-rolltemplate-5eDefault .sheet-offset-11-20 {
	margin-left: 55%;
}

.sheet-col-13-20,
.sheet-rolltemplate-5eDefault .sheet-col-13-20 {
	width: 65%;
}

.sheet-offset-13-20,
.sheet-rolltemplate-5eDefault .sheet-offset-13-20 {
	margin-left: 65%;
}

.sheet-col-15-20,
.sheet-rolltemplate-5eDefault .sheet-col-15-20 {
	width: 75%;
}

.sheet-offset-15-20,
.sheet-rolltemplate-5eDefault .sheet-offset-15-20 {
	margin-left: 75%;
}

.sheet-col-17-20,
.sheet-rolltemplate-5eDefault .sheet-col-17-20 {
	width: 85%;
}

.sheet-offset-17-20,
.sheet-rolltemplate-5eDefault .sheet-offset-17-20 {
	margin-left: 85%;
}

.sheet-col-19-20,
.sheet-rolltemplate-5eDefault .sheet-col-19-20 {
	width: 95%;
}

.sheet-offset-19-20,
.sheet-rolltemplate-5eDefault .sheet-offset-19-20 {
	margin-left: 95%;
}

.sheet-col-1-21,
.sheet-rolltemplate-5eDefault .sheet-col-1-21 {
	width: 4.7619%;
}

.sheet-offset-1-21,
.sheet-rolltemplate-5eDefault .sheet-offset-1-21 {
	margin-left: 4.7619%;
}

.sheet-col-2-21,
.sheet-rolltemplate-5eDefault .sheet-col-2-21 {
	width: 9.52381%;
}

.sheet-offset-2-21,
.sheet-rolltemplate-5eDefault .sheet-offset-2-21 {
	margin-left: 9.52381%;
}

.sheet-col-4-21,
.sheet-rolltemplate-5eDefault .sheet-col-4-21 {
	width: 19.04762%;
}

.sheet-offset-4-21,
.sheet-rolltemplate-5eDefault .sheet-offset-4-21 {
	margin-left: 19.04762%;
}

.sheet-col-5-21,
.sheet-rolltemplate-5eDefault .sheet-col-5-21 {
	width: 23.80952%;
}

.sheet-offset-5-21,
.sheet-rolltemplate-5eDefault .sheet-offset-5-21 {
	margin-left: 23.80952%;
}

.sheet-col-6-21,
.sheet-rolltemplate-5eDefault .sheet-col-6-21 {
	width: 28.57143%;
}

.sheet-offset-6-21,
.sheet-rolltemplate-5eDefault .sheet-offset-6-21 {
	margin-left: 28.57143%;
}

.sheet-col-8-21,
.sheet-rolltemplate-5eDefault .sheet-col-8-21 {
	width: 38.09524%;
}

.sheet-offset-8-21,
.sheet-rolltemplate-5eDefault .sheet-offset-8-21 {
	margin-left: 38.09524%;
}

.sheet-col-9-21,
.sheet-rolltemplate-5eDefault .sheet-col-9-21 {
	width: 42.85714%;
}

.sheet-offset-9-21,
.sheet-rolltemplate-5eDefault .sheet-offset-9-21 {
	margin-left: 42.85714%;
}

.sheet-col-10-21,
.sheet-rolltemplate-5eDefault .sheet-col-10-21 {
	width: 47.61905%;
}

.sheet-offset-10-21,
.sheet-rolltemplate-5eDefault .sheet-offset-10-21 {
	margin-left: 47.61905%;
}

.sheet-col-11-21,
.sheet-rolltemplate-5eDefault .sheet-col-11-21 {
	width: 52.38095%;
}

.sheet-offset-11-21,
.sheet-rolltemplate-5eDefault .sheet-offset-11-21 {
	margin-left: 52.38095%;
}

.sheet-col-12-21,
.sheet-rolltemplate-5eDefault .sheet-col-12-21 {
	width: 57.14286%;
}

.sheet-offset-12-21,
.sheet-rolltemplate-5eDefault .sheet-offset-12-21 {
	margin-left: 57.14286%;
}

.sheet-col-13-21,
.sheet-rolltemplate-5eDefault .sheet-col-13-21 {
	width: 61.90476%;
}

.sheet-offset-13-21,
.sheet-rolltemplate-5eDefault .sheet-offset-13-21 {
	margin-left: 61.90476%;
}

.sheet-col-14-21,
.sheet-rolltemplate-5eDefault .sheet-col-14-21 {
	width: 66.66667%;
}

.sheet-offset-14-21,
.sheet-rolltemplate-5eDefault .sheet-offset-14-21 {
	margin-left: 66.66667%;
}

.sheet-col-15-21,
.sheet-rolltemplate-5eDefault .sheet-col-15-21 {
	width: 71.42857%;
}

.sheet-offset-15-21,
.sheet-rolltemplate-5eDefault .sheet-offset-15-21 {
	margin-left: 71.42857%;
}

.sheet-col-16-21,
.sheet-rolltemplate-5eDefault .sheet-col-16-21 {
	width: 76.19048%;
}

.sheet-offset-16-21,
.sheet-rolltemplate-5eDefault .sheet-offset-16-21 {
	margin-left: 76.19048%;
}

.sheet-col-17-21,
.sheet-rolltemplate-5eDefault .sheet-col-17-21 {
	width: 80.95238%;
}

.sheet-offset-17-21,
.sheet-rolltemplate-5eDefault .sheet-offset-17-21 {
	margin-left: 80.95238%;
}

.sheet-col-18-21,
.sheet-rolltemplate-5eDefault .sheet-col-18-21 {
	width: 85.71429%;
}

.sheet-offset-18-21,
.sheet-rolltemplate-5eDefault .sheet-offset-18-21 {
	margin-left: 85.71429%;
}

.sheet-col-19-21,
.sheet-rolltemplate-5eDefault .sheet-col-19-21 {
	width: 90.47619%;
}

.sheet-offset-19-21,
.sheet-rolltemplate-5eDefault .sheet-offset-19-21 {
	margin-left: 90.47619%;
}

.sheet-col-20-21,
.sheet-rolltemplate-5eDefault .sheet-col-20-21 {
	width: 95.2381%;
}

.sheet-offset-20-21,
.sheet-rolltemplate-5eDefault .sheet-offset-20-21 {
	margin-left: 95.2381%;
}

.sheet-col-1-22,
.sheet-rolltemplate-5eDefault .sheet-col-1-22 {
	width: 4.54545%;
}

.sheet-offset-1-22,
.sheet-rolltemplate-5eDefault .sheet-offset-1-22 {
	margin-left: 4.54545%;
}

.sheet-col-3-22,
.sheet-rolltemplate-5eDefault .sheet-col-3-22 {
	width: 13.63636%;
}

.sheet-offset-3-22,
.sheet-rolltemplate-5eDefault .sheet-offset-3-22 {
	margin-left: 13.63636%;
}

.sheet-col-5-22,
.sheet-rolltemplate-5eDefault .sheet-col-5-22 {
	width: 22.72727%;
}

.sheet-offset-5-22,
.sheet-rolltemplate-5eDefault .sheet-offset-5-22 {
	margin-left: 22.72727%;
}

.sheet-col-7-22,
.sheet-rolltemplate-5eDefault .sheet-col-7-22 {
	width: 31.81818%;
}

.sheet-offset-7-22,
.sheet-rolltemplate-5eDefault .sheet-offset-7-22 {
	margin-left: 31.81818%;
}

.sheet-col-9-22,
.sheet-rolltemplate-5eDefault .sheet-col-9-22 {
	width: 40.90909%;
}

.sheet-offset-9-22,
.sheet-rolltemplate-5eDefault .sheet-offset-9-22 {
	margin-left: 40.90909%;
}

.sheet-col-13-22,
.sheet-rolltemplate-5eDefault .sheet-col-13-22 {
	width: 59.09091%;
}

.sheet-offset-13-22,
.sheet-rolltemplate-5eDefault .sheet-offset-13-22 {
	margin-left: 59.09091%;
}

.sheet-col-15-22,
.sheet-rolltemplate-5eDefault .sheet-col-15-22 {
	width: 68.18182%;
}

.sheet-offset-15-22,
.sheet-rolltemplate-5eDefault .sheet-offset-15-22 {
	margin-left: 68.18182%;
}

.sheet-col-17-22,
.sheet-rolltemplate-5eDefault .sheet-col-17-22 {
	width: 77.27273%;
}

.sheet-offset-17-22,
.sheet-rolltemplate-5eDefault .sheet-offset-17-22 {
	margin-left: 77.27273%;
}

.sheet-col-19-22,
.sheet-rolltemplate-5eDefault .sheet-col-19-22 {
	width: 86.36364%;
}

.sheet-offset-19-22,
.sheet-rolltemplate-5eDefault .sheet-offset-19-22 {
	margin-left: 86.36364%;
}

.sheet-col-21-22,
.sheet-rolltemplate-5eDefault .sheet-col-21-22 {
	width: 95.45455%;
}

.sheet-offset-21-22,
.sheet-rolltemplate-5eDefault .sheet-offset-21-22 {
	margin-left: 95.45455%;
}

.sheet-col-1-23,
.sheet-rolltemplate-5eDefault .sheet-col-1-23 {
	width: 4.34783%;
}

.sheet-offset-1-23,
.sheet-rolltemplate-5eDefault .sheet-offset-1-23 {
	margin-left: 4.34783%;
}

.sheet-col-2-23,
.sheet-rolltemplate-5eDefault .sheet-col-2-23 {
	width: 8.69565%;
}

.sheet-offset-2-23,
.sheet-rolltemplate-5eDefault .sheet-offset-2-23 {
	margin-left: 8.69565%;
}

.sheet-col-3-23,
.sheet-rolltemplate-5eDefault .sheet-col-3-23 {
	width: 13.04348%;
}

.sheet-offset-3-23,
.sheet-rolltemplate-5eDefault .sheet-offset-3-23 {
	margin-left: 13.04348%;
}

.sheet-col-4-23,
.sheet-rolltemplate-5eDefault .sheet-col-4-23 {
	width: 17.3913%;
}

.sheet-offset-4-23,
.sheet-rolltemplate-5eDefault .sheet-offset-4-23 {
	margin-left: 17.3913%;
}

.sheet-col-5-23,
.sheet-rolltemplate-5eDefault .sheet-col-5-23 {
	width: 21.73913%;
}

.sheet-offset-5-23,
.sheet-rolltemplate-5eDefault .sheet-offset-5-23 {
	margin-left: 21.73913%;
}

.sheet-col-6-23,
.sheet-rolltemplate-5eDefault .sheet-col-6-23 {
	width: 26.08696%;
}

.sheet-offset-6-23,
.sheet-rolltemplate-5eDefault .sheet-offset-6-23 {
	margin-left: 26.08696%;
}

.sheet-col-7-23,
.sheet-rolltemplate-5eDefault .sheet-col-7-23 {
	width: 30.43478%;
}

.sheet-offset-7-23,
.sheet-rolltemplate-5eDefault .sheet-offset-7-23 {
	margin-left: 30.43478%;
}

.sheet-col-8-23,
.sheet-rolltemplate-5eDefault .sheet-col-8-23 {
	width: 34.78261%;
}

.sheet-offset-8-23,
.sheet-rolltemplate-5eDefault .sheet-offset-8-23 {
	margin-left: 34.78261%;
}

.sheet-col-9-23,
.sheet-rolltemplate-5eDefault .sheet-col-9-23 {
	width: 39.13043%;
}

.sheet-offset-9-23,
.sheet-rolltemplate-5eDefault .sheet-offset-9-23 {
	margin-left: 39.13043%;
}

.sheet-col-10-23,
.sheet-rolltemplate-5eDefault .sheet-col-10-23 {
	width: 43.47826%;
}

.sheet-offset-10-23,
.sheet-rolltemplate-5eDefault .sheet-offset-10-23 {
	margin-left: 43.47826%;
}

.sheet-col-11-23,
.sheet-rolltemplate-5eDefault .sheet-col-11-23 {
	width: 47.82609%;
}

.sheet-offset-11-23,
.sheet-rolltemplate-5eDefault .sheet-offset-11-23 {
	margin-left: 47.82609%;
}

.sheet-col-12-23,
.sheet-rolltemplate-5eDefault .sheet-col-12-23 {
	width: 52.17391%;
}

.sheet-offset-12-23,
.sheet-rolltemplate-5eDefault .sheet-offset-12-23 {
	margin-left: 52.17391%;
}

.sheet-col-13-23,
.sheet-rolltemplate-5eDefault .sheet-col-13-23 {
	width: 56.52174%;
}

.sheet-offset-13-23,
.sheet-rolltemplate-5eDefault .sheet-offset-13-23 {
	margin-left: 56.52174%;
}

.sheet-col-14-23,
.sheet-rolltemplate-5eDefault .sheet-col-14-23 {
	width: 60.86957%;
}

.sheet-offset-14-23,
.sheet-rolltemplate-5eDefault .sheet-offset-14-23 {
	margin-left: 60.86957%;
}

.sheet-col-15-23,
.sheet-rolltemplate-5eDefault .sheet-col-15-23 {
	width: 65.21739%;
}

.sheet-offset-15-23,
.sheet-rolltemplate-5eDefault .sheet-offset-15-23 {
	margin-left: 65.21739%;
}

.sheet-col-16-23,
.sheet-rolltemplate-5eDefault .sheet-col-16-23 {
	width: 69.56522%;
}

.sheet-offset-16-23,
.sheet-rolltemplate-5eDefault .sheet-offset-16-23 {
	margin-left: 69.56522%;
}

.sheet-col-17-23,
.sheet-rolltemplate-5eDefault .sheet-col-17-23 {
	width: 73.91304%;
}

.sheet-offset-17-23,
.sheet-rolltemplate-5eDefault .sheet-offset-17-23 {
	margin-left: 73.91304%;
}

.sheet-col-18-23,
.sheet-rolltemplate-5eDefault .sheet-col-18-23 {
	width: 78.26087%;
}

.sheet-offset-18-23,
.sheet-rolltemplate-5eDefault .sheet-offset-18-23 {
	margin-left: 78.26087%;
}

.sheet-col-19-23,
.sheet-rolltemplate-5eDefault .sheet-col-19-23 {
	width: 82.6087%;
}

.sheet-offset-19-23,
.sheet-rolltemplate-5eDefault .sheet-offset-19-23 {
	margin-left: 82.6087%;
}

.sheet-col-20-23,
.sheet-rolltemplate-5eDefault .sheet-col-20-23 {
	width: 86.95652%;
}

.sheet-offset-20-23,
.sheet-rolltemplate-5eDefault .sheet-offset-20-23 {
	margin-left: 86.95652%;
}

.sheet-col-21-23,
.sheet-rolltemplate-5eDefault .sheet-col-21-23 {
	width: 91.30435%;
}

.sheet-offset-21-23,
.sheet-rolltemplate-5eDefault .sheet-offset-21-23 {
	margin-left: 91.30435%;
}

.sheet-col-22-23,
.sheet-rolltemplate-5eDefault .sheet-col-22-23 {
	width: 95.65217%;
}

.sheet-offset-22-23,
.sheet-rolltemplate-5eDefault .sheet-offset-22-23 {
	margin-left: 95.65217%;
}

.sheet-col-1-24,
.sheet-rolltemplate-5eDefault .sheet-col-1-24 {
	width: 4.16667%;
}

.sheet-offset-1-24,
.sheet-rolltemplate-5eDefault .sheet-offset-1-24 {
	margin-left: 4.16667%;
}

.sheet-col-5-24,
.sheet-rolltemplate-5eDefault .sheet-col-5-24 {
	width: 20.83333%;
}

.sheet-offset-5-24,
.sheet-rolltemplate-5eDefault .sheet-offset-5-24 {
	margin-left: 20.83333%;
}

.sheet-col-7-24,
.sheet-rolltemplate-5eDefault .sheet-col-7-24 {
	width: 29.16667%;
}

.sheet-offset-7-24,
.sheet-rolltemplate-5eDefault .sheet-offset-7-24 {
	margin-left: 29.16667%;
}

.sheet-col-9-24,
.sheet-rolltemplate-5eDefault .sheet-col-9-24 {
	width: 37.5%;
}

.sheet-offset-9-24,
.sheet-rolltemplate-5eDefault .sheet-offset-9-24 {
	margin-left: 37.5%;
}

.sheet-col-11-24,
.sheet-rolltemplate-5eDefault .sheet-col-11-24 {
	width: 45.83333%;
}

.sheet-offset-11-24,
.sheet-rolltemplate-5eDefault .sheet-offset-11-24 {
	margin-left: 45.83333%;
}

.sheet-col-13-24,
.sheet-rolltemplate-5eDefault .sheet-col-13-24 {
	width: 54.16667%;
}

.sheet-offset-13-24,
.sheet-rolltemplate-5eDefault .sheet-offset-13-24 {
	margin-left: 54.16667%;
}

.sheet-col-15-24,
.sheet-rolltemplate-5eDefault .sheet-col-15-24 {
	width: 62.5%;
}

.sheet-offset-15-24,
.sheet-rolltemplate-5eDefault .sheet-offset-15-24 {
	margin-left: 62.5%;
}

.sheet-col-17-24,
.sheet-rolltemplate-5eDefault .sheet-col-17-24 {
	width: 70.83333%;
}

.sheet-offset-17-24,
.sheet-rolltemplate-5eDefault .sheet-offset-17-24 {
	margin-left: 70.83333%;
}

.sheet-col-19-24,
.sheet-rolltemplate-5eDefault .sheet-col-19-24 {
	width: 79.16667%;
}

.sheet-offset-19-24,
.sheet-rolltemplate-5eDefault .sheet-offset-19-24 {
	margin-left: 79.16667%;
}

.sheet-col-21-24,
.sheet-rolltemplate-5eDefault .sheet-col-21-24 {
	width: 87.5%;
}

.sheet-offset-21-24,
.sheet-rolltemplate-5eDefault .sheet-offset-21-24 {
	margin-left: 87.5%;
}

.sheet-col-23-24,
.sheet-rolltemplate-5eDefault .sheet-col-23-24 {
	width: 95.83333%;
}

.sheet-offset-23-24,
.sheet-rolltemplate-5eDefault .sheet-23-24 {
	margin-left: 95.83333%;
}

.sheet-row-r,
.sheet-rolltemplate-5eDefault .sheet-row-r {
	letter-spacing: -0.31em;
	*letter-spacing: normal;
	word-spacing: -0.43em;
}

.sheet-opera-only:-o-prefocus,
.sheet-row-r,
.sheet-rolltemplate-5eDefault .sheet-opera-only:-o-prefocus,
.sheet-rolltemplate-5eDefault .sheet-row-r {
	word-spacing: -0.43em;
}


/* End custom Pure grid css (24 cols) */
